<div class="cards-container">
    <div class="card-wrapper" (swipeleft)="dislikeUser(members[members.length-1])" [@simpleFadeAnimation]="'in'"
        *ngFor="let member of members">
        <app-member-profile-card [profileLink]="true" [member]="member"></app-member-profile-card>
    </div>
    <div class="buttons-wrapper" *ngIf="members.length>0">
        <button [disabled]="preventLike" (click)="dislikeUser(members[members.length-1])" class="btn btn-primary"><i
                class="fa fa-close"></i></button>
        <button [disabled]="preventLike" (click)="likeUser(members[members.length-1])" class="btn btn-primary"><i
                class="fa fa-heart"></i></button>
    </div>
    <div class="heart" *ngIf="members.length>0"><i [@like]="animationState" class="fa fa-heart"></i></div>
    <div class="dislike" *ngIf="members.length>0"><i [@dislike]="animationState2" class="fa fa-close"></i></div>
    <h2 class="text-muted p-5" *ngIf="members.length==0">Больше нет участников, которых мы могли бы вам показать :( <br><a
            *ngIf="members.length==0" routerLink="/members" class="text-gradient link">Посмотрите на полный список наших участников</a>
        <span [hidden]="preventLike"> <br> или <br>
            <a *ngIf="members.length==0" (click)="resetDislikes()" class="text-gradient link">Нажмите здесь, чтобы сбросить "не нравится"</a>
        </span>
    </h2>


</div>
