<div class="mb-2">
    <input [type]="type"
        [class.is-invalid]="control.touched && control.invalid"
        placeholder="{{label}}"
        class="form-control"
        [formControl]="control"
        [email]="type==='email'"
        >
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
      Пожалуйста, введите {{label}}
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
        {{label}} слишком короткое
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
        {{label}} слишком длинное
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
      Пароли не совпадают
    </div>
</div>
