<div class="card">
  <div class="card-body">
    <div *ngIf="(messages)?.length === 0">
      Пока нет сообщений... начните общение с помощью поля для сообщений ниже.
    </div>
    <ul *ngIf="(messages)!.length > 0" class="chat">
      <li [class.me]="message.senderUsername === (accountService.currentUser$ | async)?.username" *ngFor="let message of (messages)" class="message">
        <div class="chat-img float-end">
          <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
               alt="image of user">
        </div>
        <div class="message-container">

          <div class="chat-body">
            <p>{{message.content}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input name="messageContent" [(ngModel)]="messageContent" required type="text"
               class="form-control input-sm" placeholder="Отправить личное сообщение">
        <div class="input-group-append">
          <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Отправить</button>
        </div>
      </div>
    </form>
  </div>
</div>
