<div class="modal-header">
    <h4 class="modal-title pull-left">Бан {{user?.username}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="banForm" class="register" (ngSubmit)="banForm.valid && ban()" id="rolesForm" action="">
        <app-text-input [formControl]="$any(banForm.controls['reason'])" [label]="'Жалоба'" [type]="'text'"></app-text-input>
        <app-date-picker [formControl]="$any(banForm.controls['until'])" [label]="'До'" [minDate]="now"></app-date-picker>
        <button type="submit" class="btn btn-primary" [disabled]="!banForm.valid " (click)="banForm.valid && bsModalRef.hide()">Бан</button>
    </form>
  </div>
