<div class="row user-table">
    <table>
        <thead>
            <tr>
                <th style="width: 20%;">Имя пользователя</th>
                <th style="width: 20%;">Эл. почта</th>
                <th style="width: 20%;">Роли</th>
                <th *appHasRole="['admin']" style="width: 20%;">Редактировать роль</th>
                <th style="width: 20%;">Забанить</th>
            </tr>
        </thead>
        <tbody>
            <tr class="user-table-row" *ngFor="let user of users">
                <td> <a routerLink="/members/{{user.username}}">{{user.username}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td *appHasRole="['admin']"><button [disabled]="(accountService.currentUser$ | async)?.username===user.username" (click)="openRolesModal(user)" class="btn btn-primary">Изменить роль</button></td>
                <td>
                    <button (click)="openBanModal(user)" [disabled]="user.role==='admin' || user.role==='moderator'" class="btn btn-danger" *ngIf="!user.isBlocked">Забанить</button>
                    <button (click)="unbanUser(user)" class="btn btn-info" *ngIf="user.isBlocked">Разблокировать</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
