<form [formGroup]="loginForm" class="login-form" (ngSubmit)="loginForm.valid && login()"  autocomplete="on">
    <div>
        <h2 class="text-center text-gradient">Войти</h2>
        <hr>

        <app-text-input [formControl]="$any(loginForm.controls['username'])" [label]="'Имя пользователя'" [type]="'text'">
        </app-text-input>
        <app-text-input [formControl]="$any(loginForm.controls['password'])" [maxlength]="16" [minlength]="4" [label]="'Пароль'" [type]="'password'">
        </app-text-input>

        <div class="text-center">
            <button class="btn btn-primary me-2" [disabled]="!loginForm.valid" type="submit">Войти</button>
            <a class="btn btn-default" routerLink="/register">Зарегистрироваться</a>
        </div>
    </div>
</form>
