<h2 class="ms-5">Управление пользователями</h2>
<div class="tab-panel">
    <tabset class="member-tabset">

        <div class="container">
            <app-user-management></app-user-management>
        </div>
        <tab heading="Жалобы" *appHasRole="['Admin','Moderator']"></tab>
        <div class="container">
        </div>
        <tab heading="Баны" *appHasRole="['Admin','Moderator']"></tab>
        <div class="container">
            <app-photo-managment></app-photo-managment>
        </div>
    </tabset>
</div>
