
<button class="navigation-show btn" *ngIf="isHidden" (click)="show()"><i class="fa fa-bars"></i></button>
<nav class="navigation" *ngIf="!isHidden">
    <button class="navigation-close" (click)="hide()"><i class="fa fa-close"></i></button>


    <div class="navigation-row navigation-profile">
        <div class="dropdown me-3" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="">
            <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>{{user.knownAs}} </a>
            <div class="dropdown-menu mt-2" *dropdownMenu>
                <a href="" class="dropdown-item " routerLink="/member/edit">Редактировать профиль</a>
                <a href="" class="dropdown-item " (click)="logout()">Выйти</a>
            </div>
        </div>


        <div *ngIf="!(accountService.currentUser$ | async) as user">
            <a routerLink="/login" routerLinkActive="active">Войти</a>
        </div>

    </div>
    <div class="navigation-row" *ngIf="(accountService.currentUser$ | async) as user">
        <a class="navigation-link" (click)="isMobile && hide()" [class.text-gradient]="router.isActive('/lists',true)"  routerLink="/lists" routerLinkActive="active"><i class="fa fa-heart"></i> Нравится</a>
    </div>
    <div class="navigation-row" *ngIf="(accountService.currentUser$ | async) as user">
        <a class="navigation-link" (click)="isMobile && hide()" [class.text-gradient]="router.isActive('/members',true)" routerLink="/members" routerLinkActive="active"><i class="fa fa-users"></i> Список участников</a>
    </div>
    <div class="navigation-row" *ngIf="(accountService.currentUser$ | async) as user">
        <a class="navigation-link" (click)="isMobile && hide()" [class.text-gradient]="router.isActive('/cards',true)"  routerLink="/cards" routerLinkActive="active"><i class="fa fa-clipboard"></i> Смотреть анкеты</a>
    </div>
    <div class="navigation-row" *appHasRole="['admin','moderator']">
        <a class="navigation-link" (click)="isMobile && hide()" [class.text-gradient]="router.isActive('/admin/users',true)"  routerLink="/admin/users" routerLinkActive="active"><i class="fa fa-user"></i> Управление пользователями</a>
    </div>
    <div class="navigation-row" *appHasRole="['admin','moderator']">
        <a class="navigation-link" (click)="isMobile && hide()" [class.text-gradient]="router.isActive('/admin/reports',true)"  routerLink="/admin/reports" routerLinkActive="active"><i class="fa fa-list"></i> Жалобы</a>
    </div>

    <!-- <div class="navigation-row navigation-members">
        <a *ngIf="router.isActive('/cards',true)" routerLink="/members" class="navigation-link text-gradient">Can't find
            love in cards? Click here and look at all of our members</a>
        <a *ngIf="!router.isActive('/cards',true)" routerLink="/members" class="navigation-link text-gradient">All
            Members</a><br> <br> <a *ngIf="!router.isActive('/cards',true)" routerLink="/cards"
            class="navigation-link text-gradient">Cards</a>
    </div> -->

    <!-- <h2 class="navigation-header" *ngIf="(accountService.currentUser$ | async)?.role==='admin'">
        Admin options
    </h2>
    <div class="navigation-row navigation-members" *ngIf="(accountService.currentUser$ | async)?.role==='admin'">

        <a routerLink="/admin/users" class="navigation-link text-gradient">Users</a>
        <a routerLink="/admin/reports" class="navigation-link text-gradient">Reports</a>
    </div> -->

    <h2 class="navigation-header  ">
        Последние сообщение
        <button class="btn"><i class="fa fa-refresh" (click)="messageService.getMessagesThreadsInfo()"></i></button>
    </h2>
    <div class="thread" *ngFor="let thread of messageService.messageThreadsInfo$ | async">
        <app-messages-thread-info  [info]="thread"></app-messages-thread-info>
    </div>
    <!-- <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">{{title}}</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
            <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
                <a class="nav-link" routerLink="/members"
                [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/messeges" routerLinkActive="active">Messeges</a>
            </li>
            <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            </li>
        </ng-container>
        </ul>

        <div class="dropdown me-3" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="">
            <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome {{user.knownAs}} </a>
            <div class="dropdown-menu mt-2" *dropdownMenu>
                <a href="" class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                <a href="" class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" autocomplete="off" (ngSubmit)="login()">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                placeholder="Username" aria-label="Search">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                placeholder="Password" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div> -->
</nav>
