<div class="d-flex" *ngIf="member">
  <div class="mx-2">
    <div class="col-4">
      <h1>Ваш профиль</h1>
    </div>
    <div class="col-8">
      <div class="alert alert-info p-2 pb-0" *ngIf="editForm.dirty">
        <p><strong>Информация: </strong>Вы внесли изменения. Сохраните изменения, чтобы не потерять их</p>
      </div>
    </div>
    <div class="col-4">
      <app-member-profile-card [member]="member"></app-member-profile-card>
      <div class="buttons-wrapper">
        <button class="btn btn-primary" [disabled]="!editForm.dirty || editForm.invalid" type="submit"
          form="editForm">Сохранить изменения</button>
      </div>
    </div>
  </div>
  <div class="edit mx-2 mt-4">
    <tabset class="member-tabs">
      <tab heading="О себе {{member.knownAs}}" class="pt-1">
        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
          <h4 class="mt-2">Описание</h4>
          <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction"
            rows="3"></textarea>
          <h4 class="mt-2">Что я ищу</h4>
          <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor"
            rows="3"></textarea>
          <h4 class="mt-2">Интересы</h4>
          <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="3"></textarea>
          <h4 class="mt-2">Местоположение</h4>
          <div class="d-flex">
            <div class="form-group me-5">
              <label for="city">Город*:</label>
              <input type="text" [(ngModel)]="member.city" name="city" minlength="2" maxlength="32"
                required class="form-control">
              <ng-container *ngIf="editForm.controls['city']?.errors">
                <div *ngIf="editForm.controls['city'].errors?.['required'] && editForm.controls['city'].touched"
                  class="text-danger">
                  Поле "Город" обязательно для заполнения.
                </div>
              </ng-container>
            </div>
            <div class="form-group me-5">
              <label for="country">Страна*:
                <input type="text" [(ngModel)]="member.country" name="country" minlength="2"
                  maxlength="32" required class="form-control ">
              </label>
              <ng-container *ngIf="editForm.controls['city']?.errors">
                <div *ngIf="editForm.controls['country'].errors?.['required'] && editForm.controls['country'].touched"
                  class="text-danger">
                  Поле "Страна" обязательно для заполнения.
                </div>
              </ng-container>
            </div>
          </div>

        </form>

      </tab>
      <tab heading="Редактировать фотографии" class="pt-3">
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>
