<div class="text-center m-3">
  <h2>
    {{predicate === 'liked' ? 'Ваши лайки' : predicate === 'likedBy' ? 'Лайкнувшие вас' : 'Взаимные симпатии'}}
  </h2>
</div>

<div class="m-3">
  <div class="d-flex cards">
    <form #form="ngForm" class="d-flex mb-3" autocomplete="off">
      <div class="btn-group">
        <button name="predicate" (click)="loadLikes()" class="btn btn-primary" [class.unactive]="predicate!=='matches'"
            btnRadio="matches" [(ngModel)]="predicate">Взаимные симпатии</button>
        <button name="predicate" (click)="loadLikes()" class="btn btn-primary" [class.unactive]="predicate!=='liked'"  
          btnRadio="liked" [(ngModel)]="predicate">Ваши лайки</button>
        <button name="predicate" (click)="loadLikes()" class="btn btn-primary " [class.unactive]="predicate!=='likedBy'"
            btnRadio="likedBy" [(ngModel)]="predicate">Лайкнувшие вас</button>
      </div>
    </form>
  </div>
  <h2 *ngIf="members && members.length===0">
    {{predicate === 'liked' ? 'Вы пока никого не отметили' : predicate === 'likedBy' ? 'Вас пока никто не отметил' : 'У вас пока нет совпадений'}}
  </h2>
  <div class="d-flex cards">
    <div *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>

  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" [maxSize]="10"
    [totalItems]="pagination.totalItems" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;" (pageChanged)="pageChanged($event)" [itemsPerPage]="pagination.itemsPerPage">

  </pagination>
</div>
