<div class="d-flex">
    <div class=" me-4">
        <app-member-profile-card [member]="member"></app-member-profile-card>
        <div class="buttons-wrapper">
            <!-- <button class="btn btn-primary" [class.liked]="member.likeStatus" (click)="like()">Like <i class="fa fa-heart"></i></button> -->
            <button (click)="openReportModal(member.username)" class="btn">Отправить жалобу<i class="fa fa-flag"></i></button>
        </div>
    </div>
    <div class="column">
        <tabset class="member-tabs" #memberTabs>
            <tab heading="{{member.knownAs}}" class="pt-3" (selectTab)="onTabActivated($event)">
                <h4>Описание</h4>
                <p>{{member.introduction}}</p>
                <h4>Ищете кого</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Интересы" class="pt-3" (selectTab)="onTabActivated($event)">
                <h4>Интересы</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="Сообщения" class="pt-3" (selectTab)="onTabActivated($event)">
                <app-member-messages [messages]="this.messages" [username]="member.username"></app-member-messages>
            </tab>

        </tabset>
    </div>
</div>
