<div class="home">
    <div class="header">
        <div *ngIf="!registerMode" style="text-align: center;">
            <h1 class="home-header text-gradient">
              Найдите свою любовь здесь
            </h1>
            <div class="text-center home-container">
                <button class="home-btn btn btn-primary btn-lg me-2" routerLink="/login">Войти</button>
                <a class="btn" routerLink="/register">Зарегистрироваться</a>

            </div>
        </div>
        <div *ngIf="registerMode" class="container">
            <div class="row justify-content-center">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>

    <div class="members">
        <h2 class="members-header">Посмотрите на наших лучших участников</h2>

        <div class="members-container">
            <app-member-profile-card class="members-card" *ngFor="let member of members" [member]="member"></app-member-profile-card>
        </div>
        <h2 class="members-header">Присоединяйтесь и станьте одним из них</h2>
    </div>
</div>
