<div class="register-wrapper">
<form [formGroup]="registerForm" class="register" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary text-gradient">Регистрация</h2>
    <hr>

    <div class="mb-3">
        <label class="m-1" >Выберите пол:</label>
        <label class="form-check-label m-1">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> муж
        </label>
        <label class="form-check-label m-1">
            <input type="radio" class="form-check-input" value="female" formControlName="gender"> жен
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" [minlength]="4" [maxlength]="32"  [label]="'Имя пользователя'" [type]="'text'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [minlength]="2" [maxlength]="16" [label]="'Известен как'" [type]="'text'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'Эл. почта'" [type]="'email'">
    </app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [maxDate]="maxDate"
        [label]="'Дата рождения'"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [minlength]="2" [maxlength]="32"  [label]="'Город'" [type]="'text'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [minlength]="2" [maxlength]="32"  [label]="'Страна'" [type]="'text'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [maxlength]="16" [minlength]="4" [label]="'Пароль'" [type]="'password'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [maxlength]="16" [minlength]="4" [label]="'Подтвердите пароль'"
        [type]="'password'"></app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            {{validationErrors}}
        </ul>
    </div>

    <div class="text-center">
        <button class="btn btn-primary me-2" type="submit" [disabled]="!registerForm.valid" >Зарегистрироваться</button>
        <button class="btn btn-default" type="submit" routerLink="/">Назад</button>
    </div>
</form>
</div>
